name: Keep Backend Alive

on:
  schedule:
    - cron: "*/10 * * * *"  # Har 10 minute mein chalega
  workflow_dispatch:        # Button dabake bhi chala sakte ho

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Backend
        run: |
          curl -I https://expenses-backend-52sa.onrender.com/health
